All name servers must respond with the same SOA serial number

Add requirement text.

For the data served by the authoritative name servers for a desginated zone to be consistent, all authoritative name servers must serve the same SOA record for the designated zone.

If the serial number (explained in 3.3.13. of RFC 1035) , which is part of the SOA record, is not consistent between authoritative servers, there is a possibility that the data served is inconsistent. The reasons for this inconsistency may be different - such as misconfiguration, or as a result of slow propagation to the secondary name servers.

The objective of this test is to verify that the serial number is consistent between different authoritative name servers.

For reference purposes : RFC1982 explains the serial number arithmetic, and section 4.3.5 of RFC 1034 explains the importance of serial number consistency.

https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Consistency-TP/consistency01.md


I can't find any reference to a _requirement_ for consistent serial numbers across name servers. A warning may be justified, but prohibiting delegation is a bit strong. 


I really cannot find any good reference to an RFC that states any kind of importance to the consistency of the SOA record. Help?
