SOA MNAME must not to point at a CNAME or DNAME alias

Add test requirement.

ref: RFC2181 section 10.3


Is this a duplicate of #35 ?


I would say "same same but different". #35 says "FQDN" which just means a complete name (of a name server).

We can combine these by saying that it must resolve to A or AAAA.
