The NS names MUST be valid hostnames

This section reads:

The Name Server name MUST be a valid hostname according to the rules defined in Section 2.3.1 of [@!RFC1035], in Section 2.1 in RFC 1123, Section 11 in [@!RFC2182] and Section 2 and 5 in [@RFC3696].

I could not find section 11 in RFC2182. Last section is 7.
Also, there is nothing to prevent someone using a "domain name", like EXAMPLE.COM as NS "hostname". What would be appropriate wording to discourage this and on what normative reference?

Perhaps a reference to [RFC 2606](https://tools.ietf.org/html/rfc2606) section 3 would be appropriate? On the other hand, if somehow something in example.com would be authoritative for a domain name - would that be a proper delegation?


Ok, bad example to use the example domains in documentation :)

How would we handle a situation, where the domain ABC.COM is delegated to XYZ.COM and BAZ.COM, instead of NS.XYZ.COM and NS.BAZ.COM.
Sometimes this happens from ignorance, sometimes on purpose -- today had to explain why putting ABC.COM as nameserver for ABC.COM will not automatically create glue for ABC.COM --- "a way to accelerate resolving for ABC.COM which runs a web site". Which prompted me to check and raise this issue.


Given that you create the glue (and that the glue is consistent), would it be a problem to delegate ABC.COM to XYZ.COM? If so, is there there a reference to why this is not allowed?

I agree it's not very wise, but we need references if it's now allowed.


Until the work in dbound has actually produced something useful, I don't think it is a good idea to put generic restrictions such as this in this type of requirements.


I agree.
