The DNSKEY algorithm must be one of the ones assigned by IANA

Add test requirement.

ref: RFC 4034 section 2, https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xhtml
