The delegation name must exactly match the apex of the child zone

Add requirements text.

RFC 1035 section 3.3.11 (?)


Not entirely sure what this means. Section 3.3.11 does not make it more clear to me.


No it doesn't, but I cannot find anything better.


I don't believe this is something that comes from Zonemaster. Perhaps @matsduf have an explanation?


https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Delegation-TP/delegation06.md


The original requirement was to require the presence of the SOA record. These two requirements are not entirely the same.
