SOA MNAME must be FQDN of authoritative name server

Add test requirement.

https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Zone-TP/zone01.md says:

_"The SOA MNAME record must be a fully qualified master nameserver. Hostnames are valid according to the rules defined in RFC 952, section 3.3.13 in RFC 1035 and section 11 in RFC 2182. The hostname of the MNAME field may not be listed among the delegated name servers, but should still be authoritative for the zone. MNAME may be used for other services such as DNS NOTIFY described in RFC 1996."_


There are no requirements that the SOA MNAME is publicly reachable, are there?


In the Holy Scriptures (1034/1035) I cannot find any such requirement. Could it be hidden elsewhere?

Section 4 of RFC 2182 talks about the problems with unreachable names. But it is not a protocol requirement. I would change this to SHOULD.
