MX record must not to point at a CNAME or DNAME alias

Add test requirement.

ref: RFC2181 section 10.3


Replaced by #47 
