Avoid references to specific routing technology

"I don’t think any DNS RFC should be tied to any specific element of Internet routing technology. Keep it relatively generic and avoid mention of “ASes” and the like, since this RFC may outlive the use of ASes for Internet routing. ”Path diversity”, “link diversity”, “network-level redundancy”, those are all fine."

RFC 2182, 3.1

Paul Hoffman added: _Saying "you SHOULD NOT have all the nameservers in the same AS unless you are willing to risk no one being able to access your DNS records if there is a routing issue with that AS" is an appropriate use of "SHOULD"._


How about a Reference like that of .DE?
DENIC says: "RFC 1035 expressly requires that all DNS zones are redundantly supported by at
least two independent name servers. To avoid negative effects on the TLD servers (see RFC
4697) if one of the name servers of the delegated zone cannot be reached, particular importance
is attached to diversity of network topology."


Hi,

Maybe that has been mentioned elsewhere (sorry for the redundancy if so).

More explicitly than RFC 1035, RFC 2182 section 3.1 states:

"Secondary servers must be placed at both topologically and
  geographically dispersed locations on the Internet, to minimise the
  likelihood of a single failure disabling all of them.

  That is, secondary servers should be at geographically distant
  locations, so it is unlikely that events like power loss, etc, will
  disrupt all of them simultaneously.  They should also be connected to
  the net via quite diverse paths.  This means that the failure of any
  one link, or of routing within some segment of the network (such as a
  service provider) will not make all of the servers unreachable. »

It uses the lower-case « must » but in the spirit it is a strong SHOULD.

YMMV :-)

Mohsen.

> Le 15 févr. 2016 à 14:11, Jürgen notifications@github.com a écrit :
> 
> How about a Reference like that of .DE?
> DENIC says: "RFC 1035 expressly requires that all DNS zones are redundantly supported by at
> least two independent name servers. To avoid negative effects on the TLD servers (see RFC
> 4697) if one of the name servers of the delegated zone cannot be reached, particular importance
> is attached to diversity of network topology."
> 
> —
> Reply to this email directly or view it on GitHub https://github.com/CENTRccTLDs/TRTF/issues/65#issuecomment-184200449.
