MX record in apex must point at an A or AAAA record

Add test requirements.

_If_ there is an MX record in the apex, it should point to A/AAAA. Correct?
ref: RFC2181 section 10.3


Can we remove this and considered it replaced by #45 ?


Or vice versa, since the name must point to A or AAAA, no other types are allowed?


Well, both requirements are ok. They work in two parts:
1. The hostname must be a valid hostname
2. The hostname must resolve directly to A or AAAA


Could also of course be handled by one single requirement, since #45 is closed now. Or would we like them separate?


Single, positive, requires are better IMHO.


There is no section 10.3 in 2821.