The DS hash digest algorithm must be one of the ones assigned by IANA

Add test requirement.

ref: RFC 4034 section 5, https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml

(the "DS hash digest algorithm" is called "Digest Type" in 4034)
