The number of NSEC3 iterations must to be higher than what is allowed

Add test requirement.

RFC 5155 section 10.3 specifies max number of iterations allowed.


Discuss/research sane values for non-RSA algorithms.


FWIW, both Unbound and BIND limited the number of iterations in their validator code based on public key size.


Do they have specific limitations for other key sizes than RSA also?


They work on "key size" only, so ECDSA P-256 is considered 256 bits in this context (thus limited to 150 iterations it seems)
