The delegation must contain at least two name servers

Add requirements text.

This is registry policy decision, there are no protocol issues with single name servers.


https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Delegation-TP/delegation01.md mentions "Section 4.1 of RFC 1034 specifies that there must be at least minimum two name servers for a domain.", but is that normative?


"Once the proper name for the new subzone is selected, the new owners
should be required to demonstrate redundant name server support.". I believe it is a SHOULD, since it's merely a policy decision.

For those kind of things, can we recommend it due to operational single point of failures, and write a generic section on that?


With anycast, two name servers is something different than two NS RRs.

However, even with anycast everybody recommends to use at least 2 NSes / 2
different subnets.

SHOULD should be ok for this.

On Mon, Jan 18, 2016 at 10:59 AM, Jakob Schlyter notifications@github.com
wrote:

> https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Delegation-TP/delegation01.md
> mentions "Section 4.1 of RFC 1034 specifies that there must be at least
> minimum two name servers for a domain.", but is that normative?
> 
> —
> Reply to this email directly or view it on GitHub
> https://github.com/CENTRccTLDs/TRTF/issues/7#issuecomment-172483199.

## 

Pawel


https://tools.ietf.org/html/rfc2182#section-5

> The DNS specification and domain name registration rules require at least two servers for every zone.

This is a BCP document. Does this makes the reference normative?

Later in the same section:

> It is recommended that three servers be provided for most
> organisation level zones, with at least one which must be well
> removed from the others.
